/* Smooth scroll behavior */
/* Each and every querries are at the very end of each sections or container styles. */
html{
  scroll-behavior: smooth;
}
/* HERO CONTAINER */
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(../assets/hawaii.jpg) center/cover no-repeat;
  color: #fff;
  height: 100vh;
}
/* Hero Heading */
.hero-container h1{
  font-size: 10vw;
  text-align: center;
  margin-inline: 1rem;
  font-family: "bello-pro";
}
/* Content Anchor Tag Arrow */
.hero-container li{
  margin-top: 5rem;
  width: 30px;
  height: 30px;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  border-radius: 5px;
  transform: rotate(45deg);
  color: white;
  cursor: pointer;
  transition: all 400ms;
}
/* Arrow Hover */
.hero-container li:hover{
  scale: 1.5;
}
/* Small laptops - larger screens */
@media screen and (min-width: 1200px) {
  /* The background becomes fixed for Small laptops - larger screens  */
  .hero-container{
    background: url(../assets/hawaii.jpg) center/cover no-repeat fixed;
  }
}
/* The minimum height of the content container */
/* MOBILE */
.content-container {
  min-height: 100vh;
}
/* Mobile spacing at the top */
.content-container ul{
  margin-top: 3rem;
}
/* for the whole content inside the unordered list */
.content-container li{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}
/* for the heading, body text and button */
.first-description{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  margin-inline: 2rem;
}
/* Content body text */
.content-container p{
  font-size: 20px;
  font-weight: 100;
}
/* Content Image */
.content-container .image-1{
  width: 100%;
  max-width: 515px;
  height: auto;
}
/* Content button style */
.content-container a{
  text-decoration: none;
  color: black;
  border: none;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
  margin: 1rem 0 4rem 0;
} 
/* Specifically for the arrow text */
.content-container span{
  font-weight: 100;
}
/* when hover effect */
.content-container a:hover{
  text-decoration: underline;
}
/* when click */
.content-container a:active{
  opacity: 0.7;
}
/* For the second content */
.content-container .second-content{
  flex-direction: column;
}
/* Secont content's image */
.content-container .image-2{
  width: 100%;
  max-width: 515px;
  height: auto;
}
/* Secont content's description */
/* FOR MOBILE: the display flex direction changes to column. */
/* THEN FOR LARGER SCREEN: line 176 - 180 (changes to row) */
.second-description{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  margin-inline: 2rem;
}
/* Tablet
  ***Is thinking about what to add here, doesn't seem have any issue***
*/
@media screen and (min-width: 768px) {
  .content-container{
    margin: 8rem 10rem;
  }
  /* Adds Border Raduis Tablet - larger screen */
  .content-container .image-1{
    border-radius: 10px;
  }
  /* Adds Border Raduis Tablet */
  .content-container .image-2{
    border-radius: 10px;
  }

}
/* Desktop/larger laptops */
@media screen and (min-width: 1200px) {
  /* Adds a grid margin or border margin to the content for larger screen */
  .content-container{
    margin: 8rem 10rem;
  }
  /* Second Content's direction changes to row */
  .content-container li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  /* For the second content */
  .content-container .second-content{
    flex-direction: row;
    margin-top: 5rem;
  }  
  .first-description{
    margin-inline: 0rem;
  }
  .second-description{
    margin-inline: 0rem;
  }
  /* Cool  Image effect only larger screen */
  .content-container .image-1{
    border-radius: 10px;
    margin-left: 5rem;
    transition: all 400ms;
    cursor: pointer;
  } 
  /* Cool Hover Image effect */
  .content-container .image-1:hover{
    transform: translateX(0.8rem) translateY(-0.8rem);
    box-shadow: -3rem 3rem 0px 2px black;
  }
  /* Cool  Image effect only larger screen */
  .content-container .image-2{
    border-radius: 10px;
    margin-right: 5rem;
    transition: all 400ms;
    cursor: pointer;
  }
    /* Cool Hover Image effect */
  .content-container .image-2:hover{
    transform: translateX(-0.8rem) translateY(-0.8rem);
    box-shadow: 3rem 3rem 0px 2px black;
  }
}
/* ACCORDION SECTION MOBILE */
.accordion-container {
  min-height: 50vh;
  margin-bottom: 4rem;
}
/* All of the 3 list of accordions */
.accordion-container li{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: none;
  border-bottom: 1px solid black ;
  border-inline: none;
  margin-block: 0.2rem;
}
/* Accordion Button spaced between the label and the icon */
.accordion-container button{
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: black;
  border-top: 1px solid black;
  border-bottom: none;
  border-inline: none;
  padding: 18px;
  font-size: 30px;
  text-align: left;
  width: 100%;
  cursor: pointer;
}
.accordion-container .panel p{
  margin-inline:1rem ;
}
/* Accordion Icons before click*/
.accordion-container li .acc-icon::before{
  content: "+";
}
/* Accordion Icons after/active click */
.accordion-container li.active .acc-icon::before{
  content: "-";
}
/* Accordion before = height of 0 */
.accordion-container li .panel{
  position: relative; 
  overflow: hidden;
  overflow-y: auto;
  height: 0;
  transition: all 400ms;
}
/* Accordion after = height of 120px, showing the panel */
.accordion-container li.active .panel{
  min-height: 120px;
  padding: 10px 18px;
}

/* Tablets */
@media screen and (min-width: 768px) {
  /* Margins around the accordion section */
  .accordion-container{
    margin: 8rem 11rem 5rem 11rem;
  }
}
/* Large desktops/laptops */
@media screen and (min-width: 1500px) {
  /* Margins around the accordion section */
  .accordion-container{
    margin: 8rem 10rem 5rem 10rem;
  }
}
/* Footer MOBILE */
.footer-container {
  background-color: black;
  min-height: 40vh;
  color: white;
}
/* footer list container that aligns just the list */
.footer-container li{
  display: flex;
  justify-content: space-between;
  flex-direction: column; 
  margin-bottom: 2rem;
}
/* Footer Information margins for mobile */
.footer-info{
  margin: 2rem;
}
/* Footer links margins for mobile */
.footer-links{
  margin: 2rem;
}
/* Footer info and links bolded headings */
.footer-info h2,
.footer-links h2{
  font-weight: bold;
}
/* Footer links texts */
.footer-links a{
  color: white;
  text-decoration: underline;
  cursor: pointer;
}
.footer-links a:hover{
  color: lightblue;
}
/* Footer google maps */
.footer-container iframe{
  width: 100%;
  height: 12rem;
} 
/* Copyright @ 2024 Aloha */
.copyright{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}
/* Smallest to largest destops and laptops */
@media screen and (min-width: 1200px) {
  /* Footer Information Spacing with width to give */
  .footer-info{
    width: 20rem;
    margin-top: 5rem;
    margin-left: 5rem;
  }
  /* Footer links aligns with the information layout grid */
  .footer-links{
    margin-top: 5rem;
  }
  /* footer container changes to flex row for larger devices */
  .footer-container li{
    flex-direction: row;
  }
  /* the iframe/google maps becomes smaller to fit in right on the footer */
  .footer-container iframe{
    margin: 5rem;
    max-width: 30rem;
  } 
}
